/* ##################### */
/* REFER TO => script.js */
/* ##################### */

/* ::::::Dynamic CSS:::::: */
/* table {
    text-align: justify;
    border-collapse: collapse;
    width: 100%;
} */

/* td, th {
    font-size: larger;
    border: 1px solid #cccccc;
    padding: 8px;
} */

/* th {
    
    font-weight: bold;
    text-transform: uppercase;
} */


